<div class="container">
  <h1>Welcome to Natalia's blog</h1>
  <ul>
   <% @posts.order(:created_at).each do |post| %>
    <li><h3 class="title"><%= post.title %></h3>
        <p class="body"><%= post.body %></p>
          <% if post.comments.all.count > 0  %>
            <div class="com_field">
              <h5 class="com_head">comments:</h5>
              <ul>
                <% post.comments.order(:created_at).each do |comment| %>
                  <li><p class="comment"><%= comment.body %></p>
                    <% if comment.user_id == session[:user_id] %>
                      <a href="/comment/<%= comment.id %>/delete"><span class="glyphicon glyphicon-trash"></span></a>
                      <a href="/comment/<%= comment.id %>/edit"><button class="small-btn" type="button">edit</button></a>
                    <% end %>

                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <form class="new_comment_form" action='/comments/create' method='POST'>
          <label>Add comment</label><br>
          <input type="hidden" name="post_id" value= "<%= post.id %>" />
          <textarea name="body" placeholder="your comment"></textarea>
          <input type="submit">
          </form>
   </li>
  <% end %>
 </ul>
  <div class="new_post">
    <button id="magic_button" type="button" id="magic_btn" >Create new post</button>
    <form  class="new_post_form" action='../posts/create' method='POST'>
      <label>title</label><br>
    <input type="text" name="title" placeholder="title" /><br>
    <label>your post:</label><br>
    <textarea name="body" placeholder="your post"></textarea>
    <input type="submit">
    </form>
  </div>
</div>
